.wp-block-wp-bil24-bil24 {
    background: white;
    padding: 20px;
}

.test{
    padding: 30px;  
}

.bil-btn{
    cursor: pointer;
    border: 1px solid black;
    margin: 10px 0 40px 0;
    padding: 5px 10px;
    width: 100px;
    color: black;
    transition: all .3s;
    font-size: 12pt;
    background: white;
    text-align: center;
    box-sizing: border-box;
}

.bil-btn:hover{
    color: #2261c6;
    border: 1px solid #2261c6;
}

.bil-input{
    background: white;
    border: 1px solid black!important;
    border-radius: 0!important;
    margin: 10px 10px 10px 0;
    padding: 5px 10px;
    color: black;
    font-size: 12pt;
    outline:none;
    box-sizing: border-box;
    transition: all .3s;
}

.bil-input-fid{
    width: 120px;
}

.bil-input-token{
    width: 300px;
}









